[Unit]
Description=mq service file
After=network.target

[Service]
EnvironmentFile=/home/mqm/qmgr.profile/%I.profile
ExecStartPre=/home/mqm/bin/xapass.pl -qmgr %I  
ExecStart=-/home/mqm/.bin/mq.serv.exec.ksh -start %I
ExecStop=-/home/mqm/.bin/mq.serv.exec.ksh -stop %I
Type=forking
#User=mqm
#Group=mqm
KillMode=none
Restart=no
SendSIGKILL=no
TimeoutStartSec=0
LimitNOFILE=10240
LimitNPROC=4096

[Install]
WantedBy=default.target


