[Unit]
Description=mq service file
After=network.target

[Service]
EnvironmentFile=/home/mqm/profile/%I.profile
ExecStartPre=/home/mqm/.config/systemd/xapass.pl -qmgr %I  
ExecStart=/bin/strmqm %I
ExecStop=/bin/endmqm -i %I
Type=forking
#User=mqm
#Group=mqm
KillMode=none
Restart=no
SendSIGKILL=no
TimeoutStartSec=0
LimitNOFILE=10240
LimitNPROC=4096

[Install]
WantedBy=default.target


